@page
@model MMC.WEB.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Events List";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Events</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <div class="row mr-2 ml-2">
                <div class="col-xl-8 col-12">
                    <h3 class="card-title title-2">Events List</h3>
                </div>
                <div class="col-xl-4 col-12 text-right">
                    <a asp-page="/Events/Create" class="btn btn-primary btn-lg mt-1"><i class="fas fa-plus"></i>&nbsp; New Event</a>
                </div>
            </div>

            <hr />

            <div class="mt-3">


                <div class="row justify-content-center ml-2 mr-2">
                    <!-- Center the entire row -->
                    @foreach (var item in Model.Events)
                    {
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                            <div class="card" style="background-color:#F2F2F2">
                                <div class="card-header text text-dark text-center font-weight-bold">@item.Title</div>
                                <img asp-append-version="true" src="~/images/@item.ImagePath" class="card-img-top" style="height:250px;width:auto" />
                                <div class="card-body text-center">
                                    <h4 class="card-title">@item.City.Name</h4>
                                    <p class="card-text">
                                        <div class="h6">Start Date: @item.StartDate?.ToShortDateString()</div>
                                        <div class="h6">End Date: @item.EndDate?.ToShortDateString()</div>
                                    </p>
                                    <div class="text-white">
                                        <a asp-route-id="@item.Id" asp-page="/Events/Details" class="text text-white btn btn-info btn-block fs-5 font-weight-bold"><i class="bi bi-info-circle-fill"></i> info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>